*

!.gitignore
!LICENSE
!README.rst

!davmail/
!davmail/config

!flake8

!foot/
!foot/foot.ini

!git/
!git/config

!i3blocks/
!i3blocks/config
!i3blocks/bin/
!i3blocks/bin/*

!kanshi/
!kanshi/config

!mako/
!mako/config

!mimeapps.list

!ncpamixer.conf

!ncspot/
!ncspot/config.toml

!qutebrowser/
!qutebrowser/config.py
!qutebrowser/keys.cfg

!swappy/
!swappy/config

!sway/
!sway/config
!sway/config.d/
!sway/config.d/*
!sway/bin/
!sway/bin/*

!swayidle/
!swayidle/config

!swaylock/
!swaylock/config

!systemd/
!systemd/user/
!systemd/user/davmail.service
!systemd/user/ssh-agent.service
!systemd/user/fetchmail.service
!systemd/user/fetchmail.timer
!systemd/bin/
!systemd/bin/fetchmail

!tmux/
!tmux/tmux.conf

!user-dirs.dirs
!user-dirs.locale

!vim/
!vim/vimrc
!vim/vimrc.d/
!vim/vimrc.d/*
!vim/colors/
!vim/colors/*
!vim/ftplugin/
!vim/ftplugin/*
!vim/indent/
!vim/indent/*

!zathura/
!zathura/zathurarc

!zsh/
!zsh/.zshenv
!zsh/.zprofile
!zsh/.zshrc
!zsh/config.d/
!zsh/config.d/*
