*

!.gitignore
!LICENSE
!README.rst

!git/
!git/config

!tmux/
!tmux/tmux.conf

!vim/
!vim/vimrc
!vim/vimrc.d/
!vim/vimrc.d/*
!vim/colors/
!vim/colors/*
!vim/ftplugin/
!vim/ftplugin/*

!zsh/
!zsh/.zshenv
!zsh/.zprofile
!zsh/.zshrc
!zsh/config.d/
!zsh/config.d/*
