*

!.gitignore
!LICENSE
!README.rst

!foot/
!foot/foot.ini

!git/
!git/config

!kanshi/
!kanshi/config

!mako/
!mako/config

!ncpamixer.conf

!qutebrowser/
!qutebrowser/config.py
!qutebrowser/keys.cfg

!sway/
!sway/config
!sway/config.d/
!sway/config.d/*
!sway/bin/
!sway/bin/*

!swayidle/
!swayidle/config

!swaylock/
!swaylock/config

!tmux/
!tmux/tmux.conf

!vim/
!vim/vimrc
!vim/vimrc.d/
!vim/vimrc.d/*
!vim/colors/
!vim/colors/*
!vim/ftplugin/
!vim/ftplugin/*

!zsh/
!zsh/.zshenv
!zsh/.zprofile
!zsh/.zshrc
!zsh/config.d/
!zsh/config.d/*
