[Unit]
Description=Sync mails, calendars and contacts

[Service]
Type=oneshot
ExecStart=%E/systemd/bin/fetchmail

[Install]
WantedBy=network-online.target
WantedBy=default.target
